# CHAPTER 5 - READING AND WRITING DATA

## Reading Data in CSV or Text Files

In [18]:
import numpy as np
import pandas as pd

In [19]:
csvframe = pd.read_csv('ch05_01.csv')
csvframe

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [20]:
pd.read_table('ch05_01.csv', sep=',')

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [21]:
pd.read_csv('ch05_02.csv')

   1  5  2  3    cat
0  2  7  8  5    dog
1  3  3  6  7  horse
2  2  2  8  3   duck
3  4  4  2  1  mouse

In [22]:
pd.read_csv('ch05_02.csv', header=None)

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  2  2  8  3   duck
4  4  4  2  1  mouse

In [23]:
pd.read_csv('ch05_02.csv', names=['white','red','blue','green','animal'])

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [24]:
pd.read_csv('ch05_03.csv', index_col=['color','status'])

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4

###  Using RegExp for Parsing TXT Files

In [25]:
pd.read_table('ch05_04.txt', sep='\s+', engine='python')

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [26]:
pd.read_table('ch05_05.txt', sep='\D+', header=None, engine='python')

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [27]:
pd.read_table('ch05_06.txt', sep=',', skiprows=[0,1,3,6])

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

### Reading TXT Files into Parts or Partially

In [29]:
pd.read_csv('ch05_02.csv',skiprows=[2],nrows=3,header=None)

   0  1  2  3     4
0  1  5  2  3   cat
1  2  7  8  5   dog
2  2  2  8  3  duck

In [ ]:
out = pd.Series()
i = 0
pieces = pd.read_csv('ch05_01.csv', chunksize=3)
for piece in pieces:
    out.set_value(i, piece['white'].sum())
    i = i + 1
out

### Writing Data in CSV

In [30]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [31]:
frame.to_csv('ch05_07.csv')
frame2 = pd.read_csv('ch05_07.csv')
frame2

  Unnamed: 0  ball  pen  pencil  paper
0        red     0    1       2      3
1       blue     4    5       6      7
2     yellow     8    9      10     11
3      white    12   13      14     15

In [32]:
frame.to_csv('ch05_07b.csv', index=False, header=False)
frame2 = pd.read_csv('ch05_07b.csv')
frame2

    0   1   2   3
0   4   5   6   7
1   8   9  10  11
2  12  13  14  15

In [33]:
frame3 = pd.DataFrame([[6,np.nan,np.nan,6,np.nan],
              [np.nan,np.nan,np.nan,np.nan,np.nan],
              [np.nan,np.nan,np.nan,np.nan,np.nan],
              [20,np.nan,np.nan,20.0,np.nan],
              [19,np.nan,np.nan,19.0,np.nan]
             ],
                     index=['blue','green','red','white','yellow'],
                     columns=['ball','mug','paper','pen','pencil'])

In [34]:
frame3.to_csv('ch5_08.csv')
frame4 = pd.read_csv('ch5_08.csv')
frame4

  Unnamed: 0  ball  mug  paper   pen  pencil
0       blue   6.0  NaN    NaN   6.0     NaN
1      green   NaN  NaN    NaN   NaN     NaN
2        red   NaN  NaN    NaN   NaN     NaN
3      white  20.0  NaN    NaN  20.0     NaN
4     yellow  19.0  NaN    NaN  19.0     NaN

In [35]:
frame3.to_csv('ch5_09.csv', na_rep = 'NaN')
frame5 = pd.read_csv('ch5_09.csv')
frame5

  Unnamed: 0  ball  mug  paper   pen  pencil
0       blue   6.0  NaN    NaN   6.0     NaN
1      green   NaN  NaN    NaN   NaN     NaN
2        red   NaN  NaN    NaN   NaN     NaN
3      white  20.0  NaN    NaN  20.0     NaN
4     yellow  19.0  NaN    NaN  19.0     NaN

## Reading and Writing HTML Files

### Writing Data in HTML

In [36]:
frame = pd.DataFrame(np.arange(4).reshape(2,2))
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [37]:
frame = pd.DataFrame( np.random.random((4,4)),
                    index = ['white','black','red','blue'],
                    columns = ['up','down','right','left'])
frame

             up      down     right      left
white  0.420378  0.533364  0.758968  0.132560
black  0.711775  0.375598  0.936847  0.495377
red    0.630547  0.998588  0.592496  0.076336
blue   0.308752  0.158057  0.647739  0.907514

In [38]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame.to_html())
s.append('</BODY></HTML>')
html = ''.join(s)

In [39]:
html_file = open('myFrame.html','w')
html_file.write(html)
html_file.close()

### Reading Data from an HTML File

In [40]:
web_frames = pd.read_html('myFrame.html')
web_frames[0]

  Unnamed: 0        up      down     right      left
0      white  0.420378  0.533364  0.758968  0.132560
1      black  0.711775  0.375598  0.936847  0.495377
2        red  0.630547  0.998588  0.592496  0.076336
3       blue  0.308752  0.158057  0.647739  0.907514

In [41]:
ranking = pd.read_html('https://www.meccanismocomplesso.org/en/meccanismo-complesso-sito-2/classifica-punteggio/')
ranking[0]

       #                        Nome    Exp  Livelli
0      1                 Fabio Nelli  17521      NaN
1      2                       admin   9029      NaN
2      3                 BrunoOrsini   2124      NaN
3      4                   Berserker    700      NaN
4      5                    Dnocioni    543      NaN
5      6             albertosallusti    409      NaN
6      7                         Jon    231      NaN
7      8                        Mr.Y    180      NaN
8      9             michele sisinni    157      NaN
9     10                      Selina    136      NaN
10    11                     Massimo    128      NaN
11    12             Beniamino Feula    122      NaN
12    13              stefano gustin    121      NaN
13    14           Maurizio Andreoli    111      NaN
14    15                Pietro Baima    108      NaN
15    16  Cecilia Lalatta Costerbosa    108      NaN
16    17              Leonardo Zampi    108      NaN
17    18               Davide Aloisi    106      NaN
18    19               gildalombardi    105      NaN
19    20               Telerobotlabs    104      NaN
20    21            Marco Contigiani    101      NaN
21    22                    berillio     58      NaN
22    23                         ron     55      NaN
23    24                  Titanic4wd     43      NaN
24    25                         deg     40      NaN
25    26                        al45     40      NaN
26    27                      il_mix     38      NaN
27    28                     AndreaC     35      NaN
28    29                  Sergio fly     32      NaN
29    30                     bigazzi     32      NaN
..   ...                         ...    ...      ...
220  221                        pozi      3      NaN
221  222                      mattia      3      NaN
222  223             mauro.menegazzi      3      NaN
223  224                      cico89      3      NaN
224  225                       eta38      3      NaN
225  226                Chinje Chang      3      NaN
226  227                 fraschettin      2      NaN
227  228                       Rocco      2      NaN
228  229                     Dimitri      2      NaN
229  230                      Arturo      2      NaN
230  231           Paolo Indennidate      2      NaN
231  232                fabioroberto      2      NaN
232  233                     ycomyca      2      NaN
233  234                         bdb      2      NaN
234  235             paolotirispetta      2      NaN
235  236                   Roberto72      2      NaN
236  237                 Christian76      2      NaN
237  238                    paolos46      2      NaN
238  239                    Giolat90      2      NaN
239  240                giampyypmaig      1      NaN
240  241              Marco Corbetta      1      NaN
241  242                     softeng      1      NaN
242  243                    strechum      1      NaN
243  244                      an6991      1      NaN
244  245                       plato      1      NaN
245  246              CarloAlberto98      1      NaN
246  247                        cris      1      NaN
247  248                  emilibassi      1      NaN
248  249                    mehrbano      1      NaN
249  250              NIKITA PANCHAL      1      NaN

[250 rows x 4 columns]

### Reading Data from XML

In [42]:
from lxml import objectify
xml = objectify.parse('books.xml')
xml

In [43]:
root = xml.getroot()

In [44]:
root.Book.Author

'Ross, Mark'

In [45]:
root.Book.PublishDate

'2014-01-22'

In [46]:
root.getchildren()

In [47]:
[child.tag for child in root.Book.getchildren()]

['Author', 'Title', 'Genre', 'Price', 'PublishDate']

In [48]:
[child.text for child in root.Book.getchildren()]

['Ross, Mark', 'XML Cookbook', 'Computer', '23.56', '2014-01-22']

In [49]:
def etree2df(root):
    column_names = []
    for i in range(0, len(root.getchildren()[0].getchildren())):
        column_names.append(root.getchildren()[0].getchildren()[i].tag)
    xmlframe = pd.DataFrame(columns=column_names)
    for j in range(0, len(root.getchildren())):
        obj = root.getchildren()[j].getchildren()
        texts = []
        for k in range(0, len(column_names)):
            texts.append(obj[k].text)
        row = dict(zip(column_names, texts))
        row_s = pd.Series(row)
        row_s.name = j
        xmlframe = xmlframe.append(row_s)
    return xmlframe

In [50]:
etree2df(root)

             Author            Title     Genre  Price PublishDate
0        Ross, Mark     XML Cookbook  Computer  23.56  2014-01-22
1  Bracket, Barbara  XML for Dummies  Computer  35.95  2014-12-16

## Reading and Writing Data on Microsoft Excel Files

In [51]:
pd.read_excel('ch05_data.xlsx')

   white  red  green  black
a     12   23     17     18
b     22   16     19     18
c     14   23     22     21

In [52]:
pd.read_excel('ch05_data.xlsx','Sheet2')

   yellow  purple  blue  orange
A      11      16    44      22
B      20      22    23      44
C      30      31    37      32

In [53]:
pd.read_excel('ch05_data.xlsx',1)

   yellow  purple  blue  orange
A      11      16    44      22
B      20      22    23      44
C      30      31    37      32

In [54]:
frame = pd.DataFrame(np.random.random((4,4)),
                    index = ['exp1','exp2','exp3','exp4'],
                    columns = ['Jan2015','Feb2015','Mar2015','Apr2015'])
frame

       Jan2015   Feb2015   Mar2015   Apr2015
exp1  0.671044  0.437715  0.497103  0.070595
exp2  0.864018  0.575196  0.240343  0.471081
exp3  0.957986  0.311648  0.381975  0.622556
exp4  0.407909  0.015926  0.180611  0.579783

In [55]:
frame.to_excel('ch05_data02.xlsx')

## JSON Data

In [56]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['white','black','red','blue'],
                    columns=['up','down','right','left'])
frame.to_json('frame.json')

In [57]:
pd.read_json('frame.json')

       down  left  right  up
black     5     7      6   4
blue     13    15     14  12
red       9    11     10   8
white     1     3      2   0

In [58]:
from pandas.io.json import json_normalize

In [59]:
file = open('books.json','r')
text = file.read()
text = pd.io.json.loads(text)

In [60]:
json_normalize(text,'books')

   price                title
0  23.56         XML Cookbook
1  50.70  Python Fundamentals
2  12.30    The NumPy library
3  28.60      Java Enterprise
4  31.35                HTML5
5  28.30   Python for Dummies

In [61]:
json_normalize(text,'books',['writer','nationality'])

   price                title           writer nationality
0  23.56         XML Cookbook        Mark Ross         USA
1  50.70  Python Fundamentals        Mark Ross         USA
2  12.30    The NumPy library        Mark Ross         USA
3  28.60      Java Enterprise  Barbara Bracket          UK
4  31.35                HTML5  Barbara Bracket          UK
5  28.30   Python for Dummies  Barbara Bracket          UK

## The Format HDF5

In [62]:
from pandas.io.pytables import HDFStore

In [63]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['white','black','red','blue'],
                    columns=['up','down','right','left'])
store = HDFStore('ch05_data.h5')
store['obj1'] = frame

In [64]:
frame2 = pd.DataFrame(np.arange(0,8,0.5).reshape(4,4))
frame2

     0    1    2    3
0  0.0  0.5  1.0  1.5
1  2.0  2.5  3.0  3.5
2  4.0  4.5  5.0  5.5
3  6.0  6.5  7.0  7.5

In [65]:
store['obj2'] = frame2

In [66]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: ch05_data.h5

In [67]:
store['obj2']

     0    1    2    3
0  0.0  0.5  1.0  1.5
1  2.0  2.5  3.0  3.5
2  4.0  4.5  5.0  5.5
3  6.0  6.5  7.0  7.5

## Pickle - Python Object Serialization

### Serialize a Python Object with cPickle

In [68]:
#On python3.x cPickle has changed from cPickle to _pickle. Thus in python3.x, you can do the following if you want to use cPickle:
import _pickle as pickle

In [69]:
data = { 'color': ['white','red'], 'value': [5, 7]}
pickled_data = pickle.dumps(data)
pickled_data

b'\x80\x03}q\x00(X\x05\x00\x00\x00colorq\x01]q\x02(X\x05\x00\x00\x00whiteq\x03X\x03\x00\x00\x00redq\x04eX\x05\x00\x00\x00valueq\x05]q\x06(K\x05K\x07eu.'

In [70]:
print(pickled_data)

b'\x80\x03}q\x00(X\x05\x00\x00\x00colorq\x01]q\x02(X\x05\x00\x00\x00whiteq\x03X\x03\x00\x00\x00redq\x04eX\x05\x00\x00\x00valueq\x05]q\x06(K\x05K\x07eu.'

In [71]:
nframe = pickle.loads(pickled_data)
nframe

{'color': ['white', 'red'], 'value': [5, 7]}

### Pickling with pandas

In [72]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['up','down','left','right'])
frame.to_pickle('frame.pkl')

In [73]:
pd.read_pickle('frame.pkl')

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

## Interacting with Databases

In [74]:
from sqlalchemy import create_engine

In [75]:
engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

ModuleNotFoundError: No module named 'psycopg2'

### Loading and Writing Data with SQLite3

In [76]:
frame = pd.DataFrame(np.arange(20).reshape(4,5),
                    columns=['white','red','blue','black','green'])
frame

   white  red  blue  black  green
0      0    1     2      3      4
1      5    6     7      8      9
2     10   11    12     13     14
3     15   16    17     18     19

In [77]:
engine = create_engine('sqlite:///foo.db')

In [78]:
frame.to_sql('colors',engine)

ValueError: Table 'colors' already exists.

In [79]:
pd.read_sql('colors',engine)

   index  white  red  blue  black  green
0      0      0    1     2      3      4
1      1      5    6     7      8      9
2      2     10   11    12     13     14
3      3     15   16    17     18     19

In [80]:
import sqlite3
query = """
         CREATE TABLE test
         (a VARCHAR(20), b VARCHAR(20),
          c REAL,        d INTEGER
         );"""
con = sqlite3.connect(':memory:')
con.execute(query)

In [81]:
con.commit()

In [82]:
data = [('white','up',1,3),
        ('black','down',2,8),
        ('green','up',4,4),
        ('red','down',5,5)]
stmt = "INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt, data)

In [83]:
con.commit()

In [84]:
cursor = con.execute('select * from test')
cursor

In [85]:
rows = cursor.fetchall()
rows

[('white', 'up', 1.0, 3),
 ('black', 'down', 2.0, 8),
 ('green', 'up', 4.0, 4),
 ('red', 'down', 5.0, 5)]

In [86]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [87]:
pd.DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

### Loading and Writing Data with PostgreSQL

In [88]:
pd.__version__

'0.22.0'

In [90]:
import psycopg2
engine = create_engine('postgresql://postgres:password@localhost:5432/postgres')

In [92]:
frame = pd.DataFrame(np.random.random((4,4)),
                    index=['exp1','exp2','exp3','exp4'],
                    columns=['feb','mar','apr','may']);
frame.to_sql('dataframe',engine)

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

In [ ]:
pd.read_sql_table('dataframe',engine)

In [ ]:
pd.read_sql_query('SELECT index,apr,may FROM DATAFRAME WHERE apr > 0.5', engine)

## Reading and Writing Data with a NoSQL Database: MongoDB

In [135]:
import pymongo
client = MongoClient('localhost',27017)

ModuleNotFoundError: No module named 'pymongo'

In [136]:
db = client.mydatabase
db

NameError: name 'client' is not defined

In [137]:
client['mydatabase']

NameError: name 'client' is not defined

In [138]:
collection = db.mycollection
db['mycollection']

NameError: name 'db' is not defined

In [139]:
collection

NameError: name 'collection' is not defined

In [140]:
frame = pd.DataFrame( np.arange(20).reshape(4,5), 
                      columns = ['white','red','blue','black','green'])
frame

   white  red  blue  black  green
0      0    1     2      3      4
1      5    6     7      8      9
2     10   11    12     13     14
3     15   16    17     18     19

In [141]:
import json
record = json.loads(frame.T.to_json()).values
record

In [144]:
collection.mydocument.insert(record)

NameError: name 'collection' is not defined

In [145]:
cursor = collection['mydocument'].find()
dataframe = (list(cursor))
del dataframe['_id']
dataframe

NameError: name 'collection' is not defined