# CHAPTER 2 - Introduction to the Python's World

## Using Python

### Python Shell

In [5]:
print("Hello World!")

Hello World!

### Run an Entire Program Code

In [8]:
myname = input("What is your name? ")
print("Hi " + myname + ", I'm glad to say: Hello world!")

What is your name? Fabio
Hi Fabio, I'm glad to say: Hello world!

## Writing Python Code

### Make Calculation

In [1]:
1 + 2

3

In [2]:
(1.045 * 3) / 4

0.78375

In [3]:
4 ** 2

16

In [4]:
((4 + 5j) * (2 + 3j))

(-7+22j)

In [5]:
4 < (2 * 3)

True

In [15]:
a = 12 * 3.4
a

40.8

### Import New Libraries and Functions

In [16]:
import math
math.sin(a)

0.040693257349864856

In [17]:
from math import *

In [18]:
sin(a)

0.040693257349864856

In [19]:
from math import sin

### Data Structure

In [20]:
dict = {'name':'William', 'age':25, 'city':'London'}
dict["name"]

'William'

In [21]:
for key, value in dict.items():
    print(key, value)

name William
age 25
city London

In [22]:
list = [1, 2, 3, 4]
list

[1, 2, 3, 4]

In [23]:
list[2]

3

In [24]:
list[1:3]

[2, 3]

In [25]:
list[-1]

4

In [27]:
items = [1, 2, 3, 4, 5]
for item in items:
    print(item + 1)

2
3
4
5
6

### Functional Programming

In [6]:
items = [1, 2, 3, 4, 5]
def inc(x): return x+1

In [7]:
list(map(inc, items))

[2, 3, 4, 5, 6]

In [8]:
list(map((lambda x: x + 1), items))

[2, 3, 4, 5, 6]

In [10]:
list(filter((lambda x: x < 4), items))

[1, 2, 3]

In [11]:
from functools import reduce
reduce((lambda x,y: x/y), items)

0.008333333333333333

In [9]:
S = [x**2 for x in range(5)]
S

[0, 1, 4, 9, 16]

### Indentation

In [35]:
a = 4
if a > 3:
    if a < 5:
        print("I'm four")
else:
    print("I'm a little number")

I'm four

In [36]:
if a > 3:
    if a < 5:
        print("I'm four")
    else:
        print("I'm a big number")

I'm four

## IPython

In [38]:
print("Hello World!")

Hello World!

In [39]:
3/2

1.5

In [40]:
5.0/2

2.5

In [41]:
In

['',
 '## Using Python',
 'print("Hello World!")',
 '## Using Python',
 '### Python Shell',
 'print("Hello World!")',
 'myname = raw_input("What is your name? ")\nprint "Hi " + myname + ", I\'m glad to say: Hello world!" ',
 'myname = raw_input("What is your name? ")\nprint("Hi " + myname + ", I\'m glad to say: Hello world!") ',
 'myname = input("What is your name? ")\nprint("Hi " + myname + ", I\'m glad to say: Hello world!") ',
 '1 + 2\n(1.045 * 3) / 4\n4 ** 2\n((4 + 5j) * (2 + 3j))\na < (2 * 3)',
 '1 + 2\n(1.045 * 3) / 4\n4 ** 2\n((4 + 5j) * (2 + 3j))\n4 < (2 * 3)',
 '(1.045 * 3) / 4',
 '4 ** 2',
 '((4 + 5j) * (2 + 3j))',
 '4 < (2 * 3)',
 'a = 12 * 3.4\na',
 'import math\nmath.sin(a)',
 'from math import *',
 'sin(a)',
 'from math import sin',
 'dict = {\'name\':\'William\', \'age\':25, \'city\':\'London\'}\ndict["name"]',
 'for key, value in dict.items():\n    print(key, value)\n    ',
 'list = [1, 2, 3, 4]\nlist',
 'list[2]',
 'list[1:3]',
 'list[-1]',
 'items = [1, 2, 3, 4, 5]\nfor item in items:\n    item + 1',
 'items = [1, 2, 3, 4, 5]\nfor item in items:\n    print(item + 1)',
 'items = [1, 2, 3, 4, 5]\ndef inc(x): return x+1',
 'list(map(inc, items))',
 'lista(map(inc, items))',
 'list(map(inc, items))',
 'list(map((lambda x: x + 1), items))',
 'S = [X**2 for x in range(5)]\nS',
 'S = [x**2 for x in range(5)]\nS',
 'a = 4\nif a > 3:\n    if a < 5:\n        print("I\'m four")\nelse:\n    print("I\'m a little number")',
 'if a > 3:\n    if a < 5:\n        print("I\'m four")\n    else:\n        print("I\'m a big number")',
 '## IPython',
 'print("Hello World!")',
 '3/2',
 '5.0/2',
 'In']

In [42]:
In[3]

'## Using Python'